1.EDA数据探索

In [52]:
import pandas as pd

PATH = './rawdata/'

# 读取数据
df = pd.read_csv(PATH + '/train.csv')

In [53]:
# 数据整体分布
def summary_status(data):

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_pay_time,order_status,order_count,is_customer_rate,...,customer_gender,member_status,is_member_actived,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount,goods_list_time,goods_delist_time
0,1000000,1000000,1.0,239.9,96.90,0.00,2012-11-01 00:10:56,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.909289,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
1,1001530,1001327,2.0,288.0,96.90,0.00,2013-08-31 23:14:42,6,2.0,0.0,...,NaN,NaN,NaN,1953,1953,45.961352,0.0,1.0,2013-08-28 17:27:50,2013-09-01 00:38:17
2,1001531,1001327,2.0,288.0,96.90,0.00,2013-08-31 23:14:42,6,2.0,0.0,...,NaN,NaN,NaN,1083,1083,53.035439,1.0,0.0,2014-10-29 18:21:05,2014-11-05 18:21:05
3,1001532,1001328,3.0,180.0,89.70,0.00,2013-08-31 22:06:35,6,1.0,0.0,...,NaN,NaN,NaN,1013,1013,46.046917,1.0,1.0,2014-10-25 11:00:00,2014-11-01 11:00:00
4,1001533,1001329,1.0,159.9,65.90,0.00,2013-08-31 21:33:36,6,1.0,0.0,...,NaN,NaN,NaN,1628,1628,50.722161,1.0,0.0,2014-10-23 15:35:33,2014-10-30 15:35:33
5,1001534,1001330,1.0,129.9,66.90,0.00,2013-08-31 20:57:08,6,1.0,0.0,...,NaN,NaN,NaN,1038,1038,49.408291,1.0,0.0,2014-10-28 14:26:28,2014-11-04 14:26:28
6,1001535,1001331,1.0,239.9,89.90,0.00,2013-08-31 20:21:05,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.850109,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
7,1001536,1001332,1.0,289.9,115.90,0.00,2013-08-31 19:49:50,6,1.0,0.0,...,NaN,NaN,NaN,1858,1858,56.745159,1.0,0.0,2014-10-24 23:59:59,2014-10-31 23:59:59
8,1001537,1001333,1.0,159.9,59.90,0.00,2013-08-31 19:11:24,6,1.0,0.0,...,NaN,NaN,NaN,1943,1943,50.808977,1.0,0.0,2014-10-24 00:00:00,2014-10-31 00:00:00
9,1001538,1001334,1.0,129.9,66.90,0.00,2013-08-31 18:31:05,6,1.0,0.0,...,NaN,NaN,NaN,1038,1038,49.592109,1.0,0.0,2014-10-28 14:26:28,2014-11-04 14:26:28
10,1001539,1001335,1.0,239.9,89.90,0.00,2013-08-31 17:51:54,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.819576,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
11,1001540,1001336,1.0,239.9,89.90,0.00,2013-08-31 17:14:59,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.826959,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
12,1001541,1001337,2.0,489.8,205.80,0.00,2013-08-31 15:40:14,6,2.0,0.0,...,NaN,NaN,NaN,1128,1128,55.341789,1.0,0.0,2014-10-24 00:00:00,2014-10-31 00:00:00
13,1001542,1001337,2.0,489.8,205.80,0.00,2013-08-31 15:40:14,6,2.0,0.0,...,NaN,NaN,NaN,998,998,54.833606,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
14,1001543,1001338,3.0,371.0,85.80,0.00,2013-08-31 15:21:47,6,3.0,0.0,...,NaN,NaN,NaN,1418,1418,42.578875,1.0,1.0,2014-10-29 15:24:58,2014-11-05 15:24:58
15,1001544,1001338,3.0,371.0,85.80,0.00,2013-08-31 15:21:47,6,3.0,0.0,...,NaN,NaN,NaN,1043,1043,46.431495,1.0,1.0,2014-10-28 00:03:12,2014-11-04 00:03:12
16,1001545,1001338,3.0,371.0,85.80,0.00,2013-08-31 15:21:47,6,3.0,0.0,...,NaN,NaN,NaN,1093,1093,53.058416,1.0,1.0,2014-10-25 18:08:23,2014-11-01 18:08:23
17,1001546,1001339,1.0,160.0,52.90,0.00,2013-08-31 15:07:58,6,1.0,0.0,...,NaN,NaN,NaN,1103,1103,50.810701,1.0,1.0,2014-10-25 00:00:00,2014-11-01 00:00:00
18,1001547,1001340,2.0,339.8,89.90,0.00,2013-08-31 15:13:04,101,2.0,0.0,...,NaN,NaN,NaN,998,998,54.836807,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
19,1001548,1001340,2.0,339.8,89.90,0.00,2013-08-31 15:13:04,101,2.0,0.0,...,NaN,NaN,NaN,1958,1958,46.118263,2.0,0.0,2013-09-21 08:58:00,2013-09-27 17:37:59
20,1001549,1001341,1.0,239.9,89.90,0.00,2013-08-31 15:00:04,101,1.0,0.0,...,NaN,NaN,NaN,998,998,54.810267,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
21,1001550,1001342,1.0,199.9,96.90,0.00,2013-08-31 14:05:26,6,1.0,0.0,...,NaN,NaN,NaN,1203,1203,53.051337,1.0,0.0,2014-10-24 09:19:42,2014-10-31 09:19:42
22,1001551,1001343,1.0,239.9,89.90,0.00,2013-08-31 12:50:54,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.783748,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
23,1001552,1001344,1.0,160.0,59.90,0.00,2013-08-31 12:12:37,6,1.0,0.0,...,NaN,NaN,NaN,1578,1578,50.839790,1.0,1.0,2014-10-24 05:39:22,2014-10-31 05:39:22
24,1001553,1001345,5.0,141.7,53.40,0.00,2013-08-31 08:56:55,6,5.0,0.0,...,NaN,NaN,NaN,1963,1963,33.508045,1.0,0.0,2014-10-28 16:42:54,2014-11-04 16:42:54
25,1001554,1001345,5.0,141.7,53.40,0.00,2013-08-31 08:56:55,6,5.0,0.0,...,NaN,NaN,NaN,1968,1968,24.670000,0.0,1.0,2014-04-24 18:45:29,2014-04-25 12:03:31
26,1001555,1001345,5.0,141.7,53.40,0.00,2013-08-31 08:56:55,6,5.0,0.0,...,NaN,NaN,NaN,1973,1973,32.995423,1.0,0.0,2014-10-28 16:42:17,2014-11-04 16:42:17
27,1001556,1001345,5.0,141.7,53.40,0.00,2013-08-31 08:56:55,6,5.0,0.0,...,NaN,NaN,NaN,1963,1963,33.065632,1.0,0.0,2014-10-28 16:42:54,2014-11-04 16:42:54
28,1001557,1001345,5.0,141.7,53.40,0.00,2013-08-31 08:56:55,6,5.0,0.0,...,NaN,NaN,NaN,1368,1368,39.498461,1.0,1.0,2014-10-29 15:16:14,2014-11-05 15:16:14
29,1001558,1001346,1.0,289.9,115.90,0.00,2013-08-31 07:46:24,6,1.0,0.0,...,NaN,NaN,NaN,1858,1858,56.787701,1.0,0.0,2014-10-24 23:59:59,2014-10-31 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2306841,3685467,3238341,1.0,219.9,79.90,0.00,2013-01-19 08:45:40,6,1.0,0.0,...,0.0,1.0,1.0,1333,1333,54.000584,1.0,0.0,2014-10-26 18:19:54,2014-11-02 18:19:54
2306842,3685468,3238342,1.0,219.9,79.90,0.00,2013-01-19 08:45:19,6,1.0,0.0,...,0.0,1.0,1.0,1333,1333,53.951920,1.0,0.0,2014-10-26 18:19:54,2014-11-02 18:19:54
2306843,3685469,3238343,1.0,239.9,78.52,11.38,2013-01-24 01:42:01,6,1.0,0.0,...,0.0,1.0,1.0,998,998,54.790761,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
2306844,3685470,3238344,1.0,199.0,66.90,0.00,2013-07-15 23:12:47,101,1.0,0.0,...,0.0,1.0,1.0,1063,1063,52.973587,1.0,0.0,2014-10-24 12:00:33,2014-10-31 12:00:33
2306845,3685472,3238346,1.0,220.0,87.62,12.28,2012-11-11 01:39:45,6,1.0,0.0,...,0.0,1.0,1.0,1363,1363,57.031218,1.0,0.0,2014-10-23 20:18:15,2014-10-30 20:18:15
2306846,3685475,3238348,2.0,319.8,78.90,0.00,2012-11-11 00:00:30,6,2.0,0.0,...,0.0,1.0,1.0,1333,1333,53.936545,1.0,0.0,2014-10-26 18:19:54,2014-11-02 18:19:54
2306847,3685476,3238348,2.0,319.8,78.90,0.00,2012-11-11 00:00:30,6,2.0,0.0,...,0.0,1.0,1.0,3658,3658,46.205626,2.0,0.0,2014-01-10 15:53:51,2014-01-11 12:46:20
2306848,3685477,3238349,2.0,319.8,79.90,0.00,2012-12-25 10:00:07,6,2.0,0.0,...,0.0,1.0,1.0,1333,1333,54.045666,1.0,0.0,2014-10-26 18:19:54,2014-11-02 18:19:54
2306849,3685478,3238349,2.0,319.8,79.90,0.00,2012-12-25 10:00:07,6,2.0,0.0,...,0.0,1.0,1.0,1518,1518,46.109643,1.0,0.0,2014-10-29 10:00:00,2014-11-05 10:00:00
2306850,3685479,3238350,1.0,129.9,59.90,0.00,2012-12-18 19:12:51,3,1.0,0.0,...,0.0,1.0,1.0,1038,1038,49.552478,1.0,0.0,2014-10-28 14:26:28,2014-11-04 14:26:28
2306851,3685480,3238351,1.0,129.9,54.64,5.26,2012-12-12 00:00:15,6,1.0,0.0,...,0.0,1.0,1.0,1038,1038,49.357880,1.0,0.0,2014-10-28 14:26:28,2014-11-04 14:26:28
2306852,3685481,3238352,2.0,478.9,83.90,0.00,2012-11-11 00:00:15,6,2.0,0.0,...,0.0,1.0,1.0,998,998,54.879155,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
2306853,3685482,3238352,2.0,478.9,83.90,0.00,2012-11-11 00:00:15,6,2.0,0.0,...,0.0,1.0,1.0,3533,3533,54.779457,2.0,0.0,2014-01-10 15:51:36,2014-01-11 12:46:23
2306854,3685483,3238353,3.0,698.8,257.06,24.74,2012-12-12 00:00:15,6,3.0,0.0,...,0.0,1.0,1.0,998,998,54.832094,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
2306855,3685484,3238353,3.0,698.8,257.06,24.74,2012-12-12 00:00:15,6,3.0,0.0,...,0.0,1.0,1.0,3353,3353,46.015521,2.0,0.0,2014-01-10 15:49:43,2014-01-11 12:46:19
2306856,3685485,3238353,3.0,698.8,257.06,24.74,2012-12-12 00:00:15,6,3.0,0.0,...,0.0,1.0,1.0,1148,1148,58.848572,1.0,0.0,2014-10-24 20:15:11,2014-10-31 20:15:11
2306857,3685486,3238354,1.0,199.9,99.90,0.00,2013-08-09 12:08:34,6,1.0,0.0,...,0.0,1.0,1.0,1203,1203,53.071121,1.0,0.0,2014-10-24 09:19:42,2014-10-31 09:19:42
2306858,3685487,3238355,1.0,129.9,59.90,0.00,2013-01-18 10:24:59,6,1.0,1.0,...,0.0,1.0,1.0,1038,1038,49.624932,1.0,0.0,2014-10-28 14:26:28,2014-11-04 14:26:28
2306859,3685488,3238356,4.0,775.9,269.49,41.11,2012-11-11 17:35:05,6,4.0,0.0,...,0.0,1.0,1.0,1243,1243,46.088562,1.0,0.0,2014-10-29 11:19:07,2014-11-05 11:19:07
2306860,3685489,3238356,4.0,775.9,269.49,41.11,2012-11-11 17:35:05,6,4.0,0.0,...,0.0,1.0,1.0,1488,1488,53.012390,1.0,0.0,2014-10-23 15:22:20,2014-10-30 15:22:20
2306861,3685490,3238357,4.0,707.7,238.38,36.32,2013-01-24 00:24:40,6,3.0,0.0,...,0.0,1.0,1.0,1478,1478,53.057271,1.0,0.0,2014-10-24 11:01:11,2014-10-31 11:01:11
2306862,3685491,3238356,4.0,775.9,269.49,41.11,2012-11-11 17:35:05,6,4.0,0.0,...,0.0,1.0,1.0,2103,2103,57.026166,1.0,0.0,2014-10-23 17:27:15,2014-10-30 17:27:15
2306863,3685492,3238357,4.0,707.7,238.38,36.32,2013-01-24 00:24:40,6,3.0,0.0,...,0.0,1.0,1.0,3153,3153,34.303010,2.0,0.0,2014-01-10 15:48:01,2014-01-11 12:46:23
2306864,3685493,3238356,4.0,775.9,269.49,41.11,2012-11-11 17:35:05,6,4.0,0.0,...,0.0,1.0,1.0,1778,1778,52.049402,1.0,0.0,2014-10-28 00:00:00,2014-11-04 00:00:00
2306865,3685494,3238357,4.0,707.7,238.38,36.32,2013-01-24 00:24:40,6,3.0,0.0,...,0.0,1.0,1.0,2128,2128,53.047546,1.0,0.0,2014-10-28 12:01:29,2014-11-04 12:01:29
2306866,3685495,3238358,1.0,199.0,59.90,0.00,2013-01-10 19:24:31,6,1.0,0.0,...,0.0,1.0,1.0,1173,1173,53.012016,1.0,0.0,2014-10-25 10:14:59,2014-11-01 10:14:59
2306867,3685496,3238359,2.0,299.8,89.90,0.00,2013-01-27 15:00:27,6,2.0,0.0,...,0.0,1.0,1.0,2513,2513,42.693822,2.0,0.0,2014-01-10 15:56:40,2014-01-11 12:46:19
2306868,3685497,3238359,2.0,299.8,89.90,0.00,2013-01-27 15:00:27,6,2.0,0.0,...,0.0,1.0,1.0,998,998,54.889036,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
2306869,3685498,3238360,1.0,168.0,76.90,0.00,2012-11-11 00:10:37,6,1.0,0.0,...,0.0,1.0,1.0,1423,1423,52.078004,1.0,0.0,2014-10-30 09:31:53,2014-11-06 09:31:53
2306870,3685499,3238361,1.0,102.0,49.90,0.00,2013-07-10 14:22:14,6,1.0,0.0,...,0.0,1.0,1.0,1043,1043,46.114765,1.0,1.0,2014-10-28 00:03:12,2014-11-04 00:03:12

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 29 columns):
order_detail_id           int64
order_id                  int64
order_total_num           float64
order_amount              float64
order_total_payment       float64
order_total_discount      float64
order_pay_time            object
order_status              int64
order_count               float64
is_customer_rate          float64
order_detail_status       float64
order_detail_goods_num    float64
order_detail_amount       float64
order_detail_payment      float64
order_detail_discount     float64
customer_province         object
customer_city             object
member_id                 float64
customer_id               int64
customer_gender           float64
member_status             float64
is_member_actived         float64
goods_id                  int64
goods_class_id            int64
goods_price               float64
goods_status              float64
goods_has_discount        float64
goods_list_time           object
goods_delist_time         object
dtypes: float64(18), int64(6), object(5)
memory usage: 510.4+ MB

In [8]:
df.describe()

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_status,order_count,is_customer_rate,order_detail_status,...,member_id,customer_id,customer_gender,member_status,is_member_actived,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount
count,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,...,2.306871e+06,2.306871e+06,635790.000000,635790.0,635790.0,2.306871e+06,2.306871e+06,2.306435e+06,2.306871e+06,2.306871e+06
mean,2.340043e+06,2.136152e+06,1.684285e+00,3.108007e+02,1.114688e+02,5.908662e+00,9.858623e+00,1.767748e+00,3.141311e-02,1.035626e+01,...,5.789832e+05,1.933233e+06,0.079095,1.0,1.0,1.558213e+03,1.558213e+03,5.219550e+01,1.091712e+00,8.613616e-02
std,7.740314e+05,6.500690e+05,3.941060e+00,4.040238e+02,1.644054e+02,1.711463e+01,1.922945e+01,4.800121e+02,1.744315e-01,2.027679e+01,...,1.075381e+06,5.538885e+05,0.361848,0.0,0.0,7.803288e+02,7.803288e+02,6.325725e+00,3.937307e-01,2.805651e-01
min,1.000000e+06,1.000000e+06,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+06,0.000000,1.0,1.0,9.980000e+02,9.980000e+02,-7.997479e+01,0.000000e+00,0.000000e+00
25%,1.669684e+06,1.571484e+06,1.000000e+00,1.990000e+02,6.690000e+01,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,1.436434e+06,0.000000,1.0,1.0,1.038000e+03,1.038000e+03,4.960044e+01,1.000000e+00,0.000000e+00
50%,2.339350e+06,2.142988e+06,1.000000e+00,2.399000e+02,8.990000e+01,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,1.929569e+06,0.000000,1.0,1.0,1.233000e+03,1.233000e+03,5.390926e+01,1.000000e+00,0.000000e+00
75%,3.007430e+06,2.707954e+06,2.000000e+00,3.398000e+02,1.131700e+02,5.000000e+00,6.000000e+00,2.000000e+00,0.000000e+00,6.000000e+00,...,4.834840e+05,2.457816e+06,0.000000,1.0,1.0,1.643000e+03,1.643000e+03,5.485061e+01,1.000000e+00,0.000000e+00
max,3.685499e+06,3.238361e+06,1.700000e+03,1.023740e+05,9.840150e+04,1.960000e+03,1.010000e+02,7.290610e+05,1.000000e+00,1.010000e+02,...,4.161555e+06,2.826574e+06,2.000000,1.0,1.0,6.673000e+03,6.673000e+03,9.235260e+01,2.000000e+00,1.000000e+00

In [9]:
df['order_pay_time'].max()

'2013-08-31 23:59:59'

In [10]:
df['order_pay_time'].min()

'2012-11-01 00:00:07'

In [51]:
# 输出预测结果

result = pd.read_csv('rawdata/submission.csv')
result['result']=0.6
# !mkdir result
result.to_csv('result/submission.csv', index = False)

In [46]:
result

         customer_id  result
0            1000000     0.6
1            1000014     0.6
2            1000034     0.6
3            1000046     0.6
4            1000048     0.6
5            1000069     0.6
6            1000084     0.6
7            1000099     0.6
8            1000105     0.6
9            1000109     0.6
10           1000115     0.6
11           1000123     0.6
12           1000126     0.6
13           1000130     0.6
14           1000140     0.6
15           1000146     0.6
16           1000164     0.6
17           1000170     0.6
18           1000184     0.6
19           1000193     0.6
20           1000206     0.6
21           1000209     0.6
22           1000228     0.6
23           1000232     0.6
24           1000242     0.6
25           1000243     0.6
26           1000261     0.6
27           1000278     0.6
28           1000280     0.6
29           1000283     0.6
...              ...     ...
1585956      2826542     0.6
1585957      2826543     0.6
1585958      2826544     0.6
1585959      2826545     0.6
1585960      2826546     0.6
1585961      2826547     0.6
1585962      2826548     0.6
1585963      2826549     0.6
1585964      2826550     0.6
1585965      2826551     0.6
1585966      2826552     0.6
1585967      2826553     0.6
1585968      2826554     0.6
1585969      2826555     0.6
1585970      2826556     0.6
1585971      2826557     0.6
1585972      2826558     0.6
1585973      2826560     0.6
1585974      2826561     0.6
1585975      2826562     0.6
1585976      2826564     0.6
1585977      2826566     0.6
1585978      2826567     0.6
1585979      2826568     0.6
1585980      2826569     0.6
1585981      2826570     0.6
1585982      2826571     0.6
1585983      2826572     0.6
1585984      2826573     0.6
1585985      2826574     0.6

[1585986 rows x 2 columns]