In [1]:
import pandas as pd

# 读取数据
df = pd.read_csv('rawdata/train.csv')

In [6]:
df.head()

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_pay_time,order_status,order_count,is_customer_rate,...,customer_gender,member_status,is_member_actived,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount,goods_list_time,goods_delist_time
0,1000000,1000000,1.0,239.9,96.9,0.0,2012-11-01 00:10:56,6,1.0,0.0,...,NaN,NaN,NaN,998,998,54.909289,1.0,0.0,2014-10-25 11:08:07,2014-11-01 11:08:07
1,1001530,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,NaN,NaN,NaN,1953,1953,45.961352,0.0,1.0,2013-08-28 17:27:50,2013-09-01 00:38:17
2,1001531,1001327,2.0,288.0,96.9,0.0,2013-08-31 23:14:42,6,2.0,0.0,...,NaN,NaN,NaN,1083,1083,53.035439,1.0,0.0,2014-10-29 18:21:05,2014-11-05 18:21:05
3,1001532,1001328,3.0,180.0,89.7,0.0,2013-08-31 22:06:35,6,1.0,0.0,...,NaN,NaN,NaN,1013,1013,46.046917,1.0,1.0,2014-10-25 11:00:00,2014-11-01 11:00:00
4,1001533,1001329,1.0,159.9,65.9,0.0,2013-08-31 21:33:36,6,1.0,0.0,...,NaN,NaN,NaN,1628,1628,50.722161,1.0,0.0,2014-10-23 15:35:33,2014-10-30 15:35:33

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2306871 entries, 0 to 2306870
Data columns (total 29 columns):
order_detail_id           int64
order_id                  int64
order_total_num           float64
order_amount              float64
order_total_payment       float64
order_total_discount      float64
order_pay_time            object
order_status              int64
order_count               float64
is_customer_rate          float64
order_detail_status       float64
order_detail_goods_num    float64
order_detail_amount       float64
order_detail_payment      float64
order_detail_discount     float64
customer_province         object
customer_city             object
member_id                 float64
customer_id               int64
customer_gender           float64
member_status             float64
is_member_actived         float64
goods_id                  int64
goods_class_id            int64
goods_price               float64
goods_status              float64
goods_has_discount        float64
goods_list_time           object
goods_delist_time         object
dtypes: float64(18), int64(6), object(5)
memory usage: 510.4+ MB

In [8]:
df.describe()

,order_detail_id,order_id,order_total_num,order_amount,order_total_payment,order_total_discount,order_status,order_count,is_customer_rate,order_detail_status,...,member_id,customer_id,customer_gender,member_status,is_member_actived,goods_id,goods_class_id,goods_price,goods_status,goods_has_discount
count,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,2.306871e+06,...,2.306871e+06,2.306871e+06,635790.000000,635790.0,635790.0,2.306871e+06,2.306871e+06,2.306435e+06,2.306871e+06,2.306871e+06
mean,2.340043e+06,2.136152e+06,1.684285e+00,3.108007e+02,1.114688e+02,5.908662e+00,9.858623e+00,1.767748e+00,3.141311e-02,1.035626e+01,...,5.789832e+05,1.933233e+06,0.079095,1.0,1.0,1.558213e+03,1.558213e+03,5.219550e+01,1.091712e+00,8.613616e-02
std,7.740314e+05,6.500690e+05,3.941060e+00,4.040238e+02,1.644054e+02,1.711463e+01,1.922945e+01,4.800121e+02,1.744315e-01,2.027679e+01,...,1.075381e+06,5.538885e+05,0.361848,0.0,0.0,7.803288e+02,7.803288e+02,6.325725e+00,3.937307e-01,2.805651e-01
min,1.000000e+06,1.000000e+06,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+06,0.000000,1.0,1.0,9.980000e+02,9.980000e+02,-7.997479e+01,0.000000e+00,0.000000e+00
25%,1.669684e+06,1.571484e+06,1.000000e+00,1.990000e+02,6.690000e+01,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,1.436434e+06,0.000000,1.0,1.0,1.038000e+03,1.038000e+03,4.960044e+01,1.000000e+00,0.000000e+00
50%,2.339350e+06,2.142988e+06,1.000000e+00,2.399000e+02,8.990000e+01,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,...,0.000000e+00,1.929569e+06,0.000000,1.0,1.0,1.233000e+03,1.233000e+03,5.390926e+01,1.000000e+00,0.000000e+00
75%,3.007430e+06,2.707954e+06,2.000000e+00,3.398000e+02,1.131700e+02,5.000000e+00,6.000000e+00,2.000000e+00,0.000000e+00,6.000000e+00,...,4.834840e+05,2.457816e+06,0.000000,1.0,1.0,1.643000e+03,1.643000e+03,5.485061e+01,1.000000e+00,0.000000e+00
max,3.685499e+06,3.238361e+06,1.700000e+03,1.023740e+05,9.840150e+04,1.960000e+03,1.010000e+02,7.290610e+05,1.000000e+00,1.010000e+02,...,4.161555e+06,2.826574e+06,2.000000,1.0,1.0,6.673000e+03,6.673000e+03,9.235260e+01,2.000000e+00,1.000000e+00

In [9]:
df['order_pay_time'].max()

'2013-08-31 23:59:59'

In [10]:
df['order_pay_time'].min()

'2012-11-01 00:00:07'

In [13]:
import numpy as np

A=np.array([[5,3],[1,1]])

In [16]:
lamda,U = np.linalg.eig(A)

(array([5.64575131, 0.35424869]), array([[ 0.97760877, -0.54247681],
        [ 0.21043072,  0.84007078]]))